


#section01{
    width: 100vw;
    background: #e4002b;
}
#section02{
    width: 100vw;
    background: #5ad053;
}
#section03{
    width: 100vw;
    background: #3f5cbe;
}
#section04{
    width: 100vw;
    background: #efb456;
}

